<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#eeeeee" />
    <meta
      name="description"
      content="look no rurther for interesting Restaurant"
    />
    <link rel="shortcut icon" href="./images/manifest-icons-small.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#content" class="skip-content">skip to content</a>
    <div class="wrapper">
      <custom-topnav></custom-topnav>
      <main id="main" tabindex="0"></main>
    </div>
    <custom-footer></custom-footer>
  </body>
</html>
