<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#content" class="skip-content">skip to content</a>
    <div class="wrapper">
      <header class="header">
        <div class="header__logo__container container">
          <a href="#" class="header__logo">
            <img src="./images/Cafee-logo.png" alt="Cafee-logo" />
          </a>
          <button class="header__menu__btn">send</button>
        </div>
        <nav class="topnav container">
          <ul>
            <li class="links"><a href="#">home</a></li>
            <li class="links"><a href="#">about us</a></li>
            <li class="links"><a href="#">resto</a></li>
            <li class="links"><a href="#">favourite</a></li>
          </ul>
        </nav>
      </header>
      <main id="content">
        <div class="hero">
          <h1 class="hero__text">
            Look no further for interesting restaurants
          </h1>
        </div>
        <section id="hotspots" class="hotspots container">
          <div class="hotspots__title__container">
            <h2 class="hotspots__title">
              Check out this week's
              <span> hotspots </span>
            </h2>
          </div>
          <div class="restaurants">
            <img src="./images/restaurants.png" alt="restaurants-images" />
            <section class="restaurants__content">
              <div class="restaurants__header">
                <h3 class="restaurants__title">Fairy Cafe</h3>
                <p class="restaurants__subtitle">
                  Malang
                  <span>3.9</span>
                  <svg
                    aria-hidden="true"
                    class="star"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.0995 1.79473L13.0245 8.43109L13.1292 8.7918H13.5047H19.8818L14.6757 13.0286L14.4188 13.2376L14.5111 13.5557L16.4703 20.3098L11.4151 16.1958L11.0995 15.9389L10.7839 16.1958L5.72866 20.3097L7.68786 13.5557L7.78013 13.2376L7.52326 13.0286L2.31711 8.7918H8.6942H9.06977L9.1744 8.43109L11.0995 1.79473Z"
                      fill="#E1C86C"
                      stroke="#E1C86C"
                    />
                  </svg>
                </p>
              </div>
              <button class="book__btn">Book Table</button>
              <p class="restaurants__text">
                But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising pain was born and I will give
                you a complete
              </p>
            </section>
          </div>
        </section>
        <section id="restaurant-list" class="restaurant-list container">
          <h2 class="restaurant-list__title">places you might have liked</h2>
          <div class="resturant-list__container">
            <div class="restaurants">
              <img src="./images/restaurants.png" alt="restaurants-images" />
              <section class="restaurants__content">
                <div class="restaurants__header">
                  <h3 class="restaurants__title">Fairy Cafe</h3>
                  <p class="restaurants__subtitle">
                    Malang
                    <span>3.9</span>
                    <svg
                      class="star"
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11.0995 1.79473L13.0245 8.43109L13.1292 8.7918H13.5047H19.8818L14.6757 13.0286L14.4188 13.2376L14.5111 13.5557L16.4703 20.3098L11.4151 16.1958L11.0995 15.9389L10.7839 16.1958L5.72866 20.3097L7.68786 13.5557L7.78013 13.2376L7.52326 13.0286L2.31711 8.7918H8.6942H9.06977L9.1744 8.43109L11.0995 1.79473Z"
                        fill="#E1C86C"
                        stroke="#E1C86C"
                      />
                    </svg>
                  </p>
                </div>
                <button class="book__btn">Book Table</button>
                <p class="restaurants__text">
                  But I must explain to you how all this mistaken idea of
                  denouncing pleasure and praising pain was born and I will give
                  you a complete
                </p>
              </section>
            </div>

            <div class="restaurants">
              <img src="./images/restaurants.png" alt="restaurants-images" />
              <section class="restaurants__content">
                <div class="restaurants__header">
                  <h3 class="restaurants__title">Fairy Cafe</h3>
                  <p class="restaurants__subtitle">
                    Malang
                    <span>3.9</span>
                    <svg
                      class="star"
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11.0995 1.79473L13.0245 8.43109L13.1292 8.7918H13.5047H19.8818L14.6757 13.0286L14.4188 13.2376L14.5111 13.5557L16.4703 20.3098L11.4151 16.1958L11.0995 15.9389L10.7839 16.1958L5.72866 20.3097L7.68786 13.5557L7.78013 13.2376L7.52326 13.0286L2.31711 8.7918H8.6942H9.06977L9.1744 8.43109L11.0995 1.79473Z"
                        fill="#E1C86C"
                        stroke="#E1C86C"
                      />
                    </svg>
                  </p>
                </div>
                <button class="book__btn">Book Table</button>
                <p class="restaurants__text">
                  But I must explain to you how all this mistaken idea of
                  denouncing pleasure and praising pain was born and I will give
                  you a complete
                </p>
              </section>
            </div>
            <div class="restaurants">
              <img src="./images/restaurants.png" alt="restaurants-images" />
              <section class="restaurants__content">
                <div class="restaurants__header">
                  <h3 class="restaurants__title">Fairy Cafe</h3>
                  <p class="restaurants__subtitle">
                    Malang
                    <span>3.9</span>
                    <svg
                      class="star"
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11.0995 1.79473L13.0245 8.43109L13.1292 8.7918H13.5047H19.8818L14.6757 13.0286L14.4188 13.2376L14.5111 13.5557L16.4703 20.3098L11.4151 16.1958L11.0995 15.9389L10.7839 16.1958L5.72866 20.3097L7.68786 13.5557L7.78013 13.2376L7.52326 13.0286L2.31711 8.7918H8.6942H9.06977L9.1744 8.43109L11.0995 1.79473Z"
                        fill="#E1C86C"
                        stroke="#E1C86C"
                      />
                    </svg>
                  </p>
                </div>
                <button class="book__btn">Book Table</button>
                <p class="restaurants__text">
                  But I must explain to you how all this mistaken idea of
                  denouncing pleasure and praising pain was born and I will give
                  you a complete
                </p>
              </section>
            </div>

            <div class="restaurants">
              <img src="./images/restaurants.png" alt="restaurants-images" />
              <section class="restaurants__content">
                <div class="restaurants__header">
                  <h3 class="restaurants__title">Fairy Cafe</h3>
                  <p class="restaurants__subtitle">
                    Malang
                    <span>3.9</span>
                    <svg
                      class="star"
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M11.0995 1.79473L13.0245 8.43109L13.1292 8.7918H13.5047H19.8818L14.6757 13.0286L14.4188 13.2376L14.5111 13.5557L16.4703 20.3098L11.4151 16.1958L11.0995 15.9389L10.7839 16.1958L5.72866 20.3097L7.68786 13.5557L7.78013 13.2376L7.52326 13.0286L2.31711 8.7918H8.6942H9.06977L9.1744 8.43109L11.0995 1.79473Z"
                        fill="#E1C86C"
                        stroke="#E1C86C"
                      />
                    </svg>
                  </p>
                </div>
                <button class="book__btn">Book Table</button>
                <p class="restaurants__text">
                  But I must explain to you how all this mistaken idea of
                  denouncing pleasure and praising pain was born and I will give
                  you a complete
                </p>
              </section>
            </div>
          </div>
        </section>
      </main>
    </div>
    <footer class="footer">
      <div class="container">
        <img
          src="./images/Cafee-footer-logo.png"
          alt="Cafee-logo"
          class="footer__logo"
        />
        <h2 class="newsletter__title">Subscribe To Our Newsletter</h2>
        <form class="newsletter__subscription" action="">
          <div class="input">
            <label for="email"> Your Email</label>
            <input
              id="email"
              type="email"
              placeholder="Your Email"
              class="newsletter__input"
            />
          </div>
          <button type="submit" class="newsletter__submit">submit</button>
        </form>
        <nav class="footer__nav">
          <ul>
            <li class="links"><a href="#">home</a></li>
            <li class="links"><a href="#">about us</a></li>
            <li class="links"><a href="#">resto</a></li>
            <li class="links"><a href="#">favourite</a></li>
          </ul>
        </nav>
      </div>
      <p class="footer__copyright container">created by Irvan Saharudin @ 2022</p>
    </footer>
  </body>
</html>
