<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a href="#content" class="skip-content">skip to content</a>
    <div class="wrapper">
      <custom-topnav></custom-topnav>
      <main id="main">
        <div class="hero">
          <h1 class="hero__text">
            Look no further for interesting restaurants
          </h1>
        </div>
        <section id="content" class="hotspots container">
          <div class="hotspots__title__container">
            <h2 class="hotspots__title">
              Check out this week's
              <span> hotspots </span>
            </h2>
          </div>
        </section>
        <section class="restaurant-list container">
          <h2 class="restaurant-list__title">places you might have liked</h2>
          <div class="resturant-list__container" id="restaurant-list"></div>
        </section>
      </main>
    </div>
    <custom-footer></custom-footer>
  </body>
</html>
