.hero {
  height: 100vh;
  width: 100vw;
  background-color: var(--black-bg-col);
  background-image: url("../public/images/heros/hero-image_3.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 118px;
}
.hero__text {
  font-size: var(--section-title-size);
  font-family: var(--cormorant-family);
  color: var(--normal-text-col);
  max-width: 329px;
  width: 80%;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
}
@media (min-width: 900px) {
  .hero {
    padding-top: 162px;
  }
  .hero__text {
    max-width: 100%;
  }
}
@media (min-width: 1300px) {
  .hero {
    padding-top: 89px;
  }
  .hero__text {
    max-width: 1200px;
  }
}
