.hotspots {
  margin-top: 40px;
}
.hotspots__title {
  font-size: var(--section-title-size);
  font-family: var(--cormorant-family);
  margin: auto;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 4px 2px var(--shadow-col);
}
.hotspots__title span {
  position: relative;
  background-image: url("../public/images/Vector\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 600px) {
  .hotspots {
    padding-inline: 3rem;
  }
  .hotspots .restaurants {
    flex-direction: column;
  }
  .hotspots .restaurants .restaurants__header {
    flex-direction: row;
  }
  .hotspots__title {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .hotspots {
    margin-top: 60px;
  }
  .hotspots .restaurants {
    flex-direction: row;
  }
  .hotspots {
    padding-inline: 3rem;
  }
  .hotspots__title {
    margin: auto;
    width: 70%;
  }
  .hotspots .restaurants > * {
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .hotspots {
    margin-top: 270px;
  }
  .hotspots__title {
    margin: auto;
    width: 60%;
  }
  .hotspots .restaurants {
    gap: 2rem;
  }
}
