.hotspots {
  padding-block: 40px 50px;
}
.hotspots__title {
  font-size: var(--section-title-size);
  font-family: var(--cormorant-family);
  margin: 0 auto 40px;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 4px 2px var(--shadow-col);
}
.hotspots__title span {
  position: relative;
  background-image: url("../public/images/Vector\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}
@media (min-width: 600px) {
  .hotspots {
    padding: 60px 0 180px ;
  }
  .hotspots .restaurants {
    flex-direction: column;
  }
  .hotspots .restaurants .restaurants__header {
    flex-direction: row;
  }
  .hotspots__title {
    width: 50%;
  }
}
@media (min-width: 900px) {
  
  .hotspots .restaurants {
    flex-direction: row;
    gap: 1rem;
  }
  .hotspots {
    padding-inline: 3rem;
  }
  .hotspots__title {
    width: 70%;
  }
  .hotspots .restaurants > * {
    max-width: 50%;
    flex-grow: 0;
  }
}
@media (min-width: 1200px) {
  .hotspots {
    padding-block: 270px;
  }
  .hotspots__title {
    margin: 0 auto 112px;
    width: 70%;
  }
  .hotspots .restaurants {
    gap: 2rem;
  }
}
