.restaurants {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-bg-col);
  transition: background-color 0.2s ease-out;
  border-radius: 0.5rem;
  overflow: hidden;
}
.restaurants img {
  object-fit: cover;
  transition: 0.5s ease-out;
}
.restaurants__content {
  padding: 0.5rem;
}
.restaurants__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurants__title {
  font-family: var(--cormorant-family);
  font-size: var(--card-title-size);
  font-weight: 700;
  flex-grow: 1;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restaurants__title a {
  padding: 0.5rem;
}
.restaurants__subtitle {
  font-family: var(--open-family);
  font-size: var(--card-subtitle-size);
  font-weight: 700;
}
.restaurants__subtitle span {
  margin-left: 0.5em;
}
.restaurants__text {
  font-family: var(--open-family);
  font-weight: 400;
  font-size: var(--card-desc-size);
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.restaurants .primary-button{
  margin-block: 12px 23px;
}
@media (min-width: 900px) {
  .restaurants {
    flex-direction: row;
  }
  .restaurants__header {
    flex-direction: column;
  }
  .restaurants__content {
    padding: 0.1rem;
  }
  .restaurants__title {
    height: 2em;
  }
}

@media (min-width: 1200px) {
  .restaurants__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
