.restaurant-list {
  padding-block: 4.75rem;
}
.resturant-list__container {
  display: grid;
  grid-template-columns: 1;
  gap: 3rem;
}
.resturant-list__container .restaurants {
  flex-direction: column;
}
.resturant-list__container .restaurants img {
  height: 300px;
}
.restaurant-list {
  padding-inline: 2rem;
}
.favourite__restaurant__list{
  background-color: #eee;
}
.favourite__restaurant__list .subtitle{
  margin-bottom: 3rem;
}
@media (min-width: 600px) {
  .restaurant-list {
    padding-block: 60px;
  }
  .resturant-list__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 900px) {

  .resturant-list__container .restaurants img {
    height: 540px;
  }
  .resturant-list__container .restaurants .restaurants__header {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .restaurant-list {
    padding-bottom: 264px;
  }
  .resturant-list__container {
    grid-template-columns: repeat(3, minmax(350px,400px));
    justify-content: center;
  }
  .resturant-list__container .restaurants {
    padding: 0.5rem 0.5rem 3rem;
  }
  .resturant-list__container .restaurants:hover {
    background-color: #eee;
  }
  .resturant-list__container .restaurants:hover img {
    scale: 1.01;
  }
  
  .favourite__restaurant__list .subtitle{
    margin-left: 12%;
  }
}
