.restaurants {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-bg-col);
  transition: background-color 0.2s ease-out;
  border-radius: 0.5rem;
  overflow: hidden;
}
.restaurants img {
  object-fit: cover;
  transition: 0.5s ease-out;
}
.restaurants__content {
  padding: .5rem;
}
.restaurants__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurants__title {
  font-family: var(--cormorant-family);
  font-size: var(--card-title-size);
  font-weight: 700;
  flex-grow: 1;
  height: 2em;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}
.restaurants__subtitle {
  font-family: var(--open-family);
  font-size: var(--card-subtitle-size);
  font-weight: 700;
}
.restaurants__subtitle span {
  margin-left: 0.5em;
}
.restaurants__text {
  font-family: var(--open-family);
  font-weight: 400;
  font-size: var(--card-desc-size);
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.restaurants .book__btn {
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--cormorant-family);
  font-weight: 700;
  color: var(--normal-text-col);
  background-color: var(--black-bg-col);
  padding: 0.9rem;
  border-radius: 10px;
  margin-block: 12px 23px;
  position: relative;
  overflow: hidden;
  transition-delay: 0.2s;
}
.restaurants .book__btn:hover {
  color: var(--gold-bg-col);
}
.restaurants .book__btn::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -100%;
  transition: bottom 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--normal-text-col);
}
.restaurants .book__btn:hover::after {
  background-color: var(--gold-bg-col);
  bottom: 100%;
}

@media (min-width: 900px) {
  .restaurants {
    flex-direction: row;
  }
  .restaurants__header {
    flex-direction: column;
  }
  .restaurants__content{
    padding: .1rem;
  }
}

@media (min-width: 1200px) {
  .restaurants__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
